.my-message {
  margin-top: 20px;
}

button.round {
  border-radius: 50%;
  border-width: 0;
  color: #fff;
  font-size: 50px;
  height: 250px;
  width: 250px;
  margin-top: 30px;
  touch-action: manipulation;
}

@media (max-width: 250px) {
  button.round {
    height: 160px;
    width: 160px;
  }
}

/* for buttonclick effect */
.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}


.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.dashboard-link{
  margin-top: 50px;
}