.dashboard .box1 {
  margin-left: auto;
  margin-right: 50px;
}
.dashboard .box2 {
  margin-left: 50px;
  margin-right: auto;
}
.dashboard .header {
  color: #000;
  font-size: 20px;
  margin: 10px 0;
}
.dashboard .box {
  border-radius: 5%;
  font-size: 50px;
  margin-top: 25px;
  padding: 25px;
  text-align: center;
  width: 25%;
  color: #fff;
}

@media (max-width: 576px) {
  .dashboard .box {
    width: 40%;
  } 

  .dashboard .box1 {
    margin-right: 10px;
  }
  .dashboard .box2 {
    margin-left: 10px;
  }
}

.footer {
  margin-top: 10px;
}

.my-tooltip .orange-clicks {
  color: orange
}

.my-tooltip .blue-clicks {
  color: blue
}

.my-tooltip .total-clicks {
  color: black
}

.recharts-surface {
  padding: 10px
}

#chart-container {
  margin-left: auto;
  margin-right: auto
}