body {
  font-family: sans-serif;
  margin: 0;
  min-width: 200px;
}

.App {
  text-align: center;
  /* color: #fff; */
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.black {
  color: #000;
}
.blue {
  background-color: #007aff;
}

.orange {
  background-color: #ff9559;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}